<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.TicketingDAO">
	<select id="selectScreenList" resultType="ScreenVO">
		select * from screen
	</select>
	<select id="selectSeatList" resultType="SeatVO">
		select * from seat where se_sc_num = #{sc_num}
	</select>
	<select id="selectScreen" resultType="ScreenVO">
		select * from screen where sc_num = #{sc_num}
	</select>
	<select id="selectScheduleList" resultType="ScheduleVO">
		select *
		from schedule
		where sd_mo_num = #{mo_num}
		and sd_sc_num = #{sc_num}
	</select>
</mapper>